#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#header {
  color: rgb(66, 60, 60);
  text-shadow: 2px 2px rgb(194, 194, 194);
}

.note-frame {
    --s: 150px; /* control the size */
    
    --_g: #0000 90deg,#eff4f6 0;
    background:
      conic-gradient(from 116.56deg at calc(100%/3) 0   ,var(--_g)),
      conic-gradient(from -63.44deg at calc(200%/3) 100%,var(--_g))
      #dfe6e5;
    background-size: var(--s) var(--s);

  align-items: center;
  padding: 20px;
  border-style: solid;
  border-radius: 25px;
  border: 2px solid;
  min-height: 110px;
  border-color: rgb(158, 158, 156); 
}

.note {
  background-color: white;
  height: 3em;
  width: 30em;
  border: 2px solid;
  border-color: goldenrod;
  margin: auto;
  margin-bottom: 15px;
  padding: 10px;
  position: relative;  
  border-radius: 8px;
  font-size: large;
  line-height: 50px;
}

.checked-note {
  background-color: rgb(161, 236, 161);
  border-color: rgb(51, 142, 29);
}

textarea {
  max-width: 20em;
  max-height: 6em;
  min-width: 10em;
  min-height: 3em;
}

.checkbox {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  accent-color: white;
}

#button-holder {
  text-align: center
}

#submit-button {
  width: 100px;
  height: 25px;
  background-image: linear-gradient(gold, goldenrod);
  border-radius: 8px;
  border-color: goldenrod;
  margin: 10px;  
}

#delete-button {
  height: 25px;
  font-weight: bold;
  background-color: rgb(246, 148, 171);
  border-radius: 8px;
  border-color: goldenrod;
  margin: 10px;  
}


